<!DOCTYPE html>
<html lang="fr">
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<title>Ajout tache</title>

	<!-- Bootstrap -->
	<link href="/static/css/bootstrap.min.css" rel="stylesheet">
	<link href="/static/css/main.css" rel="stylesheet">

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
	</head>
	<body>
		<div class="container">

		<div class="row rowCentered">
			<h2>Création d'une nouvelle tache</h2>
		</div>

		<div class="row rowCentered rowFrom">
			<form  action="" method="post">
				{% csrf_token %}
				<div class="row rowCentered marginTop8px">
					<p>Nom de la tâche : {{ form.name }}</p>
				</div>

				<div class="row rowCentered">
					<p>Descritpion de la tâche : </p>
					{{ form.description }}
				</div>

				<div class="row rowCentered marginTop8px">
					<p>Date de fin de la tâche : {{ form.due_date }}</p>
				</div>
				
				<div class="row rowCentered marginTop8px">
					<input TYPE="submit" class="btn btn-success" NAME="validation" VALUE="Ajouter tâche">
				</div>
			</form>
		</div>

		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<script src="/static/js/bootstrap.min.js"></script>

	</body>
</html>
