<!doctype html>

<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Mes tâches</title>

    <!-- Bootstrap -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/main.css" rel="stylesheet">
  </head>

<body>
    <script src="/static/js/bootstrap.min.js"></script>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Mes Tâches</a>
        </div>

      </div>
    </nav>

    <div class = "container">
        <div class = "row">
            <div class="col-md-2">
                Nom de la tâche
            </div>

            <div class="col-md-2">
                Description
            </div>

            <div class="col-md-2">
                Date programmée
            </div>

            <div class="col-md-2">
                Date d'échéance
            </div>

            <div class="col-md-2">
                Modifier
            </div>

            <div class="col-md-2">
                Supprimer
            </div>
        </div>
        <br>
        {% for elem in objets %}
            <div class = "row">
                <div class="col-md-2">
                    {{elem.name}}
                </div>

                <div class="col-md-2">
                    {{elem.description}}
                </div>

                <div class="col-md-2">
                    {{elem.schedule_date}}
                </div>

                <div class="col-md-2">
                    {{elem.due_date}}
                </div>

                <div class="col-md-2">
                    <button type="button" class="btn btn-secondary" onclick="self.location.href='{% url 'editTask' elem.name %}'">M</button>
                </div>


                <div class="col-md-2">
                    <button type="button" class="btn btn-secondary" onclick="self.location.href='{% url 'deleteTask' elem.name %}'">S</button>
                </div>
            </div>
            <br>
        {%endfor%}

        <!--<div class = "container">
            <form id="formulaire">
                <input id="action" type="hidden" name="action" value="add">
                <input type="hidden"  name="id" id="id" value="0">
                <div class="form-group">
                  <label for="nom">Nom</label>
                  <input type="text" class="form-control" name="nom" id="nom" placeholder="Nom">
                </div>
                <div class="form-group">
                  <label for="prenom">Desciption</label>
                  <input type="text" class="form-control" name="description" id="description" placeholder="Desciption">
                </div>
                <div class="form-group">
                  <label for="naissance">Date programmée</label>
                  <input type="text" class="form-control" name="date_programmee" id="date_programmee" placeholder="Date programmée">
               </div>
               <div class="form-group">
                  <label for="ville">Date d'échéance</label>
                  <input type="text" class="form-control" name="date_echeance" id="date_echeance" placeholder="Date d'échéance">
                </div>
                <button type="submit" id="sub" class="btn btn-default">Ajouter</button>
                <button type="reset" id="res" class="btn btn-default" onclick=annule()>Annuler</button>
            </form>
        </div>-->
        <div class = "row">
            <button type="button" class="btn btn-secondary" onclick="self.location.href='{% url 'addTask' %}'">Ajouter</button>
        </div>
    </div>

      <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/static/js/bootstrap.min.js"></script>
</body>
</html>
